.main {
  background-color: gainsboro;
  font-family: 'Courgette';
}

.Gryffindor {
  background-color: #740001;
}
.Slytherin {
  background-color: #1a472a;
}
.Ravenclaw {
  background-color: #0e1a40;
}
.Hufflepuff {
  background-color: #ecb939;
}
.Desconocida {
  background-color: #4f4f4f;
}

body {
  height: 100vh;
}
