.arrow__icon {
  width: 100px;
  height: 50px;
  color: #740001;
  position: fixed;
  cursor: pointer;
  top: 450px;
  left: 300px;
}

.arrow__icon:hover {
  transform: scale(1.5);
  transition: 0.3s;
  color: #d3a625;
}
