@import '../core/reset.scss';

.main__details {
  &--image {
    height: 400px;
    width: 300px;
  }
  &--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: 10px solid rgb(160, 140, 27);
    border-style: double;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    gap: 10px;
  }
  &--name {
    font-size: 25px;
    font-weight: bold;
  }
  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
    text-align: center;
  }
}
