@import '../core/reset.scss';
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 30px;
  &__img {
    width: 500px;
    height: 200px;
  }
  &__title {
    font-size: 35px;
  }
  &__text {
    font-size: 20px;
  }
  &__icon {
    color: #d3a625;
  }
}
