@import '../core/reset.scss';
.buttonreset {
  margin: 20px;
  padding: 20px;
  background: #d3a625;
  border-radius: 30px;
  font-size: 12px;
  border: 0;
  cursor: pointer;
  :hover {
    font-size: 20px;
    transition: 0.5s;
    color: white;
    margin: 5px;
  }
}

.buttonreset--icon:hover {
  transform: scale(2);
  transition: 0.3s;
  color: white;
  padding: 10px;
}
